<launch>
    <arg name="rviz" default="true"/>

    <include file="$(find cameras)/launch/d435/d435.launch" >
		  <arg name="rviz" value="$(arg rviz)"/>
    </include>  

    <node pkg="cameras" name="image_saver_node" type="image_saver_node" output="screen">
        <rosparam file="$(find cameras)/config/d435_image_saver_params.yaml" command="load"/>
    </node>
</launch>
