<launch>

	<!-- Custom user args -->
    <arg name="rviz_path"  	default="$(find cameras)/rviz/d435i"/>

    <!-- d435i camera launch -->
	<include file="$(find cameras)/launch/d435i/d435i.launch">
		<arg name="rviz" 		value="true"/>
		<arg name="rviz_path"  	value="$(arg rviz_path)"/>
  	</include>

	<!-- Publish a dummy tf beteen map and usb_cam to activate pose detectioin -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="d435i_cam_tf_publisher"
		args="0 0 0 0 0 0 1 map base_link" />

    <!-- 3D pose detection server -->
    <node pkg="cameras" type="pose_estimator.py" name="pose_estimator_node"/>

</launch>