<launch>

	<!-- RViz user args -->
    <arg name="rviz"             default="true"/>
    <arg name="rviz_path"  		 default="$(find cameras)/rviz/coppeliaCam"/>
	<arg name="pub_map_tf" 		 default="true"/>

	<!-- Pose estimator args -->
    <arg name="depth_topic"  	default="coppelia/depth_image"/>
    <arg name="color_topic"  	default="coppelia/color_image"/>
    <arg name="loop_rate"  		default="10"/>
    <arg name="fx"  			default="532.5694343521657"/> 
    <arg name="fy"  			default="399.4270757641243"/> 
    <arg name="cx"  			default="320.00"/>
    <arg name="cy"  			default="240.00"/> 
    <arg name="optical_frame"  	default="camera_color_optical_frame"/>
    <arg name="base_link_cam"  	default="camera_base_link"/>
    <arg name="base_link"  	    default="base_link"/>
    <arg name="detector"  		default="cables"/>
    <arg name="pose_output"  	default="screen"/>
    <arg name="cal_factor"      default="1"/>
    <arg name="bias_factor"     default="0"/>

    <!-- Launch RViz visualizer -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_path).rviz" required="true"/>

	<!-- Publish a dummy tf beteen map and usb_cam to activate pose detection -->
	<node if="$(arg pub_map_tf)" pkg="tf2_ros" type="static_transform_publisher" name="d435i_cam_tf_publisher"
		args="0 0 0 0 0 0 1 map camera_base_link" />

    <!-- Publish a tf beteen camera_base_link and camera_color_optical_frame to 
    activate pose detection, since such tf doesn't exist unless d435i is active -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="d435i_cam_optical_tf_publisher"
		args="0.011 0.033 0.013 -0.5 0.5, -0.5 0.5 camera_base_link camera_color_optical_frame"/>

    <!-- 3D pose detection server -->
    <node pkg="cameras" type="pose_estimator.py" name="pose_estimator_node" output="$(arg pose_output)">
    	<param name="depth_topic" 	type="string" 	value="$(arg depth_topic)"/>
    	<param name="color_topic" 	type="string" 	value="$(arg color_topic)"/>
    	<param name="loop_rate"	  	type="int"    	value="$(arg loop_rate)"/>
    	<param name="fx"	  	  	type="double"  	value="$(arg fx)"/>
    	<param name="fy"	  	  	type="double"  	value="$(arg fy)"/>
    	<param name="cx"	  	  	type="double"  	value="$(arg cx)"/>
    	<param name="cy"	  	  	type="double"  	value="$(arg cy)"/>
		<param name="optical_frame" type="string" 	value="$(arg optical_frame)"/>
		<param name="base_link_cam" type="string" 	value="$(arg base_link_cam)"/>
        <param name="base_link"  	type="string"   value="$(arg base_link)"/>
        <param name="detector"  	type="string" 	value="$(arg detector)"/>
        <param name="cal_factor"  	type="double"   value="$(arg cal_factor)"/>
        <param name="bias_factor"  	type="double"   value="$(arg bias_factor)"/>	
	</node>

</launch>